#cards_section{
    padding: .5rem;
    margin-top: 1rem;
}

.card{
    /* background-color: #ffe3c038; */
    background-color: #ffffff;
    padding-top: 1rem;
    /* max-width: 388px;
    min-width: 300px; */
    max-width: 20rem;
    min-width: 18rem;

    max-height: 28.1rem;
    min-height: 23.7rem;
    
    border: 1px solid #e7e7e7;
    margin: 0 auto;
    box-shadow: 0rem 0.1rem 0.2rem var(--second_color);
    border-radius: 1.4rem;
    margin-bottom: 2rem;
}

.card .title_pizza{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #ff8100;
    font-weight: bold;
}

.card figure{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.card figure .pizzaImage{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid #9c9cdd;
    box-shadow: 0rem 0rem 1rem #00ff1f5c;
}

.card .card_text{
    display: block;
    padding: 1rem;
}

.card .card_text .subra{
    text-decoration: underline;
}

.card .card_text .pizzaIngredients{
    color: #9b9b9b;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card .card_text .pizzaPrice{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 3rem;
}

.card .card_text .pizzaPrice .currency{
    color: #30c300;
    font-size: 1.2rem;
    font-weight: bold;
}


/* > 691 */
@media only screen and (min-width: 691px) {
    #cards_section{
        display: grid;
        grid-auto-flow: column;
    }    
}