@import url(../../global.css);

#footerPage{
    background-color: var(--primary_color);
    padding: 20px;
    margin-top: 40px;
    color: black;
    text-align: center;
    border-top: 1px solid #00c2ff;
}

#footerPage .redes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerPage .redes a p{
    color: black;
    font-weight: bold;
}

#footerPage .redes img{
    width: 40px;
    height: 40px;
}

#footerPage .redes a{
    display: inline-block;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

